<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoAutenticacao" />
                <binding name="BasicHttpBinding_IServicoAutenticacao1" />
                <binding name="ServicoAutenticacaoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19999/ServicoOauth" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicoAutenticacao"
                contract="ServiceWithWebConfig.IServicoAutenticacao" name="BasicHttpBinding_IServicoAutenticacao" />
            <endpoint address="http://localhost:19233/ServicoAutenticacao"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoAutenticacao1"
                contract="ServiceWithouWebConfig.IServicoAutenticacao" name="BasicHttpBinding_IServicoAutenticacao1" />
            <endpoint address="http://localhost:62391/ServicoAutenticacao.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicoAutenticacaoSoap"
                contract="ServicoASMX.ServicoAutenticacaoSoap" name="ServicoAutenticacaoSoap" />
        </client>
    </system.serviceModel>
</configuration>